@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
  url('../fonts/FuturaPT-Demi.woff') format('woff'),
  url('../fonts/FuturaPT-Demi.ttf') format('truetype'),
  url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'),
  url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/FuturaPT-Book.woff') format('woff'),
  url('../fonts/FuturaPT-Book.ttf') format('truetype'),
  url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
  url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-ExtraBold';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2'),
  url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
  url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype'),
  url('../fonts/FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg'),
  url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.woff2') format('woff2'),
  url('../fonts/rouble-webfont.woff') format('woff'),
  url('../fonts/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



