$futura_Book: 'FuturaPT-Book';
$futura_Demi: 'FuturaPT-Demi';
$futura_ExtraBold: 'FuturaPT-ExtraBold';
$rouble: 'als_rublregular';

$minWidth: 1200px;

$regularFS: 19px;
$regularFLH: 31px;
$smallFS: 13px;



$mobRegularFS: 16px;
$mobRegularFLH: 26px;

$wrapperVal: 0 2.5%;

$regularColor: #000;
$greyColor: rgba(0,0,0, .4);
$borderColor: rgba(0,0,0, .1);
$linkColor: #FF4141;
$linkColorHover: rgba(255,65,65, .8);

$bgPicColor: #3d4b46;
$bgProductPic: #56675f;

$inputsHeight: 40px;
$inputBorderRadius: 5px;

$buttonHeight: 46px;

$boxShadow: 0 30px 90px rgba(0, 0, 0, .07);

$headerHeight: 80px;
$mobileBurgerHeight: 62px;


// placeholder
@mixin placeholder ($color, $selector)
{
  $selector: unquote($selector);
  #{$selector}::-webkit-input-placeholder{color: $color;}
  #{$selector}:-moz-placeholder{color: $color;}
  #{$selector}::-moz-placeholder{color: $color;}
  #{$selector}:-ms-input-placeholder{color: $color;}
}
